beautifulsoup4==4.4.0
Flask==1.0.2
lxml==4.2.4
nltk==3.3
numpy==1.15.0
pymessenger==0.0.7.0
pymongo==3.7.1
requests==2.19.1
requests-toolbelt==0.8.0
tensorboard==1.9.0
tensorflow==1.9.0
tflearn==0.3.2
urllib3==1.23
virtualenv==16.0.0
